/*body {
    background-color: lightgoldenrodyellow;
}

div[data-testid="stHorizontalBlock"]>div:first-of-type {
    background-color: #262730;
}*/

div[data-testid="stHorizontalBlock"]>div:nth-of-type(2) {
    background-color: #273346;
}

/*div[data-testid="stHorizontalBlock"]>div:last-of-type {
    background-color: #262730;
}*/